
*{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    height: 100vh;
    background-color: var(--very-dark-blue-main);
    font-family: var(--font-family);
    font-size: var(--font-md);
    color: var(--soft-blue);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto 1rem;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
  }
    100%{
        opacity: 1;
  }
}

footer{
    .attribution {
        font-size: 12px;
        text-align: center;
      }
      .attribution a {
        color: var(--white);
      }
}